.table-container {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.filter-dropdown {
  position: relative;
  z-index: 10000;
}



.table-header {
  display: grid;
  grid-template-columns: 40px 0.7fr 180px 1fr 180px 120px;
  padding: 12px;
  border-bottom: 1px solid #eee;
  background: white;
  position: sticky;
  top: 0;
  z-index: 20;
  cursor: pointer;
  font-weight: bold;
  background: #f9fafb;
  font-weight: 300;
  font-size: 17px;
  color: #6b7280;
  height: 25px;
}


.table-row {
  display: grid;
  grid-template-columns: 40px 2fr 180px 1.5fr 280px 300px;
  padding: 0 16px;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
  height: 72px;
}

.table-row:hover {
  background: #fafafa;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-weight: bold;
}

.badge {
  background: #eefaf6;
  color: #10b981;
  padding: 4px 10px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

.table-row div {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 600;
}

.small-muted {
  font-size: 12px;
  color: #6b7280;
}

